<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='../static/imgs/img.jpg') }}">

</head>
<body>
  <header>
        
        <nav>
            <ul>
                <li><a href="index.html">Página Inicial</a></li>
                <li><a href="{{ url_for('balanceamento') }}">Balanceamento</a></li>
                <li><a href="formulas.html">Formulas</a></li>
            </ul>
        </nav>
        
    </header>
     
    <section>
       <section class="conte_total">
                    <div id="explicacao">
                           <div class="sem">
				    <h2>Tabela Periódica</h2>
				    <p>Esta tabela contém todos os elementos químicos conhecidos e 
                        está organizada 
                        de modo a manter todos os elementos que possuem
                        propriedades semelhantes e periódicas. </p>
			    <div>
			</div>
                  
                  
                   
                   <div class="legenda">

                                   

                     <section class="container_tabela">
                          

		                           
                            <div class="futua">
				<div id="borda_legend">
				      

		                           
		                            
		                    
                                    <section id="section">
                                        <div class="periodic-table">
                                            <div class="element elemento-1">
                                                <span class="numero_atomico">1</span>
                                                <h2 class="Hidrogenio">H</h2>
                                                <span class="massa">1.007840</span>

                                            </div>

                                            <div class="element">  
                                                
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">  
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            <h2> Legenda </h2>
                                            </div>
                                            <div class="element">
                                               
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>

                                            <div class="element elemento-2">
                                                <span class="numero_atomico">2</span>
                                                <h2 class="Helio">He</h2>
                                                <span class="massa">4.002602</span>
                                            </div>

                                            <!-- Adicione mais elementos aqui -->
                                        </div>

                                        <!-- Adicione mais elementos aqui -->
                                        <div class="periodic-table">
                                            <div class="element elemento-3">
                                                <span class="numero_atomico">3</span>
                                                <h2 class="Hidrogenio">Li</h2>
                                                <span class="massa">6.941000</span>
                                            </div>

                                            <div class="element elemento-4">  
                                                <span class="numero_atomico">4</span>
                                                <h2 class="Hidrogenio">Be</h2>
                                                <span class="massa">9.012180</span>
                                            </div>

                                            <div class="element">
                                             	
                                            </div>
                                            <div class="element"> 
                                            	<div class="cor Metais-alcalinos"></div> <span>Metal Alcalino</span>  
                                            </div>
                                            <div class="element">
                                            	<div class="cor Metais-alcalinos-terrosos"></div> <span>Alcalinos terrosos</span> 
                                            </div>
                                            <div class="element">
                                            	<div class="cor Metais-Transicao"></div> <span>Metais Transição</span> 
                                            </div>
                                            <div class="element">
                                            	<div class="cor Pos-Metais"></div> <span>Pós Metais</span> 
                                            </div>
                                            <div class="element">
                                            	
                                            </div>
                                            <div class="element">
                                            	<div class="cor Nao-metais"></div> <span>Nao-metais</span> 
                                            </div>
                                            <div class="element">
                                            	
                                            </div>
                                            <div class="element">
                                            	<div class="cor Gases-Nobres"></div> <span>Gases Nobres</span> 
                                            </div>
                                            <div class="element">

                                            </div>

                                            <div class="element  elemento-5">
                                                <span class="numero_atomico">5</span>
                                                <h2 class="Boro">B</h2>
                                                <span class="massa">10.81100</span>
                                            </div>

                                            <div class="element elemento-6">
                                                <span class="numero_atomico">6</span>
                                                <h2 class="Carbono">C</h2>
                                                <span class="massa">12.01100</span>
                                            </div>

                                            <div class="element elemento-7">
                                                <span class="numero_atomico">7</span>
                                                <h2 class="Nitrogenio">N</h2>
                                                <span class="massa">14.00670</span>
                                            </div>

                                            <div class="element elemento-8">
                                                <span class="numero_atomico">8</span>
                                                <h2 class="Oxigenio">O</h2>
                                                <span class="massa">15.99940</span>
                                            </div>

                                            <div class="element elemento-9">
                                                <span class="numero_atomico">9</span>
                                                <h2 class="Fluor">F</h2>
                                                <span class="massa">18.99840</span>
                                            </div>

                                            <div class="element elemento-10">
                                                <span class="numero_atomico">10</span>
                                                <h2 class="Hidrogenio">Ne</h2>
                                                <span class="massa">20.17970</span>
                                            </div>

                                            <!-- Adicione mais elementos aqui -->
                                        </div>

                                        <!-- Adicione mais elementos aqui -->
                                        <div class="periodic-table">
                                            <div class="element elemento-11">
                                                <span class="numero_atomico">11</span>
                                                <h2 class="sodio">Na</h2>
                                                <span class="massa">22.98977</span>
                                            </div>

                                            <div class="element elemento-12">  
                                                <span class="numero_atomico">12</span>
                                                <h2 class="Magnesio">Mg</h2>  
                                                <span class="massa">24.30500</span>
                                            </div>

                                            <div class="element">
                                            </div>
                                            <div class="element"> 
                                            		<div class="cor Lantanideo"></div> <span>Lantanídeos</span> 
                                            </div>
                                            <div class="element">
                                            		<div class="cor Actinideo"></div> <span>Actinídios</span>
                                            </div>
                                            <div class="element">
                                                       <div class="cor Semimetais"></div> <span>Semimetais</span> 
                                            </div>
                                            <div class="element">
                                                       <div class="cor Halogenio"></div> <span>Halogênio</span> 
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>
                                            <div class="element">
                                            </div>

                                            <div class="element elemento-13">

                                                <span class="numero_atomico">13</span>
                                                <h2 class="Aluminio">Al</h2>
                                                <span class="massa">26.98154</span>
                                            </div>
                                            <div class="element elemento-14">

                                                <span class="numero_atomico">14</span>
                                                <h2 class="Silicio">Si</h2>
                                                <span class="massa">28.08550</span>
                                            </div>
                                            <div class="element elemento-15">

                                                <span class="numero_atomico">15</span>
                                                <h2 class="Fosforo">P</h2>
                                                <span class="massa">30.97376</span>
                                            </div>
                                            <div class="element elemento-16">

                                                <span class="numero_atomico">16</span>
                                                <h2 class="Enxofre">S</h2>
                                                <span class="massa">32.06600</span>
                                            </div>
                                            <div class="element elemento-17">

                                                <span class="numero_atomico">17</span>
                                                <h2 class="Cloro">Cl</h2>
                                                <span class="massa">35.45210</span>
                                            </div>


                                            <div class="element elemento-18">

                                                <span class="numero_atomico">18</span>
                                                <h2 class="Hidrogenio">Ar</h2>
                                                <span class="massa">39.94780</span>

                                            </div>
                                        </div>	
                                            <!-- Adicione mais elementos aqui -->
                                        <div class="periodic-table">
                                            <div class="element elemento-19">

                                                <span class="numero_atomico">19</span>
                                                <h2 class="Potacio">K</h2>
                                                <span class="massa">39.09830</span>
                                            </div>

                                            <div class="element elemento-20">  

                                                <span class="numero_atomico">20</span>
                                                <h2 class="Calcio">Ca</h2>
                                                <span class="massa">40.07800</span>
                                            </div>
                                            <div class="element elemento-21">

                                                <span class="numero_atomico">21</span>
                                                <h2 class="Escandio">Sc</h2>
                                                <span class="massa">44.95590</span>
                                            </div>
                                            <div class="element elemento-22">  

                                                <span class="numero_atomico elemento-22">22</span>
                                                <h2 class="Titaneo">Ti</h2>
                                                <span class="massa">47.86670</span>
                                            </div>
                                            <div class="element elemento-23">

                                                <span class="numero_atomico">23</span>
                                                <h2 class="Vanadio">V</h2> 
                                                <span class="massa">50.94150</span>
                                            </div>
                                            <div class="element  elemento-24">

                                                <span class="numero_atomico">24</span>
                                                <h2 class="Cromo">Cr</h2>
                                                <span class="massa">51.99610</span>
                                            </div>
                                            <div class="element  elemento-25">

                                                <span class="numero_atomico">25</span>
                                                <h2 class="Manganes">Mn</h2>
                                                <span class="massa">54.93800</span>
                                            </div>
                                            <div class="element elemento-26">

                                                <span class="numero_atomico">26</span>
                                                <h2 class="Ferro">Fe</h2>
                                                <span class="massa">55.84510</span>
                                            </div>
                                            <div class="element elemento-27">

                                                <span class="numero_atomico">27</span>
                                                <h2 class="Cobalto">Co</h2>
                                                <span class="massa">58.93320</span>
                                            </div>
                                            <div class="element elemento-28">

                                                <span class="numero_atomico">28</span>
                                                <h2 class="Niquel">Ni</h2>
                                                <span class="massa">58.69340</span>
                                            </div>
                                            <div class="element elemento-29">

                                                <span class="numero_atomico">29</span>
                                                <h2 class="Cobre">Cu</h2>
                                                <span class="massa">63.54600</span>
                                            </div>
                                            <div class="element elemento-30">

                                                <span class="numero_atomico">30</span>
                                                <h2 class="Zinco">Zn</h2>
                                                <span class="massa">65.37780</span>
                                            </div>
                                            <div class="element elemento-31">

                                                <span class="numero_atomico">31</span>
                                                <h2 class="Galio">Ga</h2>
                                                <span class="massa">69.72310</span>
                                            </div>
                                            <div class="element elemento-32">

                                                <span class="numero_atomico">32</span>
                                                <h2 class="Germanio">Ge</h2>
                                                <span class="massa">72.62980</span>
                                            </div>
                                            <div class="element elemento-33">

                                                <span class="numero_atomico">33</span>
                                                <h2 class="Arsenio">As</h2> 
                                                <span class="massa">74.92160</span>
                                            </div>
                                            <div class="element elemento-34">

                                                <span class="numero_atomico">34</span>
                                                <h2 class="Selenio">Se</h2> 
                                                <span class="massa">78.97110</span> 
                                            </div>
                                            <div class="element elemento-35">

                                                <span class="numero_atomico">35</span>
                                                <h2 class="Bromo">Br</h2> 
                                                <span class="massa">79.90430</span>
                                            </div>


                                            <div class="element elemento-36">

                                                <span class="numero_atomico">36</span>
                                                <h2 class="Hidrogenio">Kr</h2>
                                                <span class="massa">83.79800</span>

                                            </div>
                                        </div>		
                                                <!-- Adicione mais elementos aqui -->

                                        <div class="periodic-table">
                                            <div class="element elemento-37">

                                                <span class="numero_atomico">37</span>
                                                <h2 class="Rubidio">Rb</h2>
                                                <span class="massa">85.46770</span>
                                            </div>

                                            <div class="element elemento-38"> 

                                                <span class="numero_atomico">38</span>
                                                <h2 class="Estroncio">Sr</h2>
                                                <span class="massa">87.61660</span>
                                            </div>
                                            <div class="element elemento-39">

                                                <span class="numero_atomico">39</span>
                                                <h2 class="Itrio">Y</h2>
                                                <span class="massa">88.90580</span>
                                            </div>
                                            <div class="element elemento-40">  

                                                <span class="numero_atomico">40</span>
                                                <h2 class="Zirconio">Zr</h2>
                                                <span class="massa">91.22360</span>
                                            </div>
                                            <div class="element elemento-41">

                                                <span class="numero_atomico">41</span>
                                                <h2 class="Niobio">Nb</h2>
                                                <span class="massa">92.90640</span>
                                            </div>
                                            <div class="element elemento-44">

                                                <span class="numero_atomico">42</span>
                                                <h2 class="Molibdenio">Mo</h2>
                                                <span class="massa">95.94880</span>
                                            </div>

                                            <div class="element elemento-43">

                                                <span class="numero_atomico">43</span>
                                                <h2 class="Tecnecio">Tc</h2>
                                                <span class="massa">97.44290</span>
                                            </div>
                                            <div class="element elemento-44">

                                                <span class="numero_atomico">44</span>
                                                <h2 class="Rutenio">Ru</h2>
                                                <span class="massa">101.0649</span>
                                            </div>
                                            <div class="element elemento-45">

                                                <span class="numero_atomico">45</span>
                                                <h2 class="Rodio">Rh</h2>
                                                <span class="massa">102.9055</span>
                                            </div>
                                            <div class="element elemento-46">

                                                <span class="numero_atomico ">46</span>
                                                <h2 class="Chumbo">Pd</h2>
                                                <span class="massa">106.4153</span>
                                            </div>
                                            <div class="element elemento-47">

                                                <span class="numero_atomico">47</span>
                                                <h2 class="Prata">Ag</h2>
                                                <span class="massa">107.8681</span>
                                            </div>
                                            <div class="element elemento-48">

                                                <span class="numero_atomico">48</span>
                                                <h2 class="Cadmio">Cd</h2>
                                                <span class="massa">112.4138</span>
                                            </div>
                                            <div class="element elemento-49">

                                                <span class="numero_atomico">49</span>
                                                <h2 class="Indium">In</h2>
                                                <span class="massa">114.8183</span>
                                            </div>
                                            <div class="element elemento-50">

                                                <span class="numero_atomico">50</span>
                                                <h2 class="Estanho">Sn</h2>
                                                <span class="massa">118.7101</span>
                                            </div>
                                            <div class="element elemento-51">

                                                <span class="numero_atomico">51</span>
                                                <h2 class="Antimonio">Sb</h2>
                                                <span class="massa">121.7598</span>
                                            </div>
                                            <div class="element elemento-52">

                                                <span class="numero_atomico">52</span>
                                                <h2 class="Telurio">Te</h2>
                                                <span class="massa">127.6031</span>
                                            </div>
                                            <div class="element elemento-53">

                                                <span class="numero_atomico">53</span>
                                                <h2 class="Iodo">l</h2>
                                                <span class="massa">126.9045</span>
                                            </div>

                                            <div class="element elemento-54">

                                                <span class="numero_atomico">54</span>
                                                <h2 class="Hidrogenio">Xe</h2>
                                                <span class="massa">131.2928</span>

                                            </div>
                                        </div>			
                                            <!-- Adicione mais elementos aqui -->
                                        <div class="periodic-table">
                                            <div class="element elemento-55">

                                                <span class="numero_atomico">55</span>
                                                <h2 class="Cesio">Cs</h2>
                                                <span class="massa">132.9055</span>
                                            </div>

                                            <div class="element elemento-56"> 

                                                <span class="numero_atomico">56</span>
                                                <h2 class="Bario">Ba</h2> 
                                                <span class="massa">197.3267</span> 
                                            </div>
                                            <div class="element  elemento-57-71">

                                                <span class="numero_atomico">...57-71</span>
                                                <strong>La-Lu</strong>


                                            </div>
                                            <div class="element elemento-72"> 

                                                <span class="numero_atomico">72</span>
                                                <h2 class="Hafnio">Hf</h2>
                                                <span class="massa">178.4850</span>
                                            </div>
                                            <div class="element elemento-73">

                                                <span class="numero_atomico">73</span>
                                                <h2 class="Tantalo">Ta</h2>
                                                <span class="massa">180.9479</span>
                                            </div>
                                            <div class="element elemento-74">

                                                <span class="numero_atomico">74</span>
                                                <h2 class="Tungstenio">W</h2>
                                                <span class="massa">183.8418</span>
                                            </div>
                                            <div class="element elemento-75">

                                                <span class="numero_atomico">75</span>
                                                <h2 class="Renio">Re</h2>
                                                <span class="massa">186.2067</span>
                                            </div>
                                            <div class="element elemento-76">

                                                <span class="numero_atomico">76</span>
                                                <h2 class="Osnio">Os</h2>
                                                <span class="massa">190.2249</span>
                                            </div>
                                            <div class="element elemento-77">

                                                <span class="numero_atomico">77</span>
                                                <h2 class="Iridio">Ir</h2>
                                                <span class="massa">192.2161</span>
                                            </div>
                                            <div class="element elemento-78">

                                                <span class="numero_atomico">78</span>
                                                <h2 class="Platina">Pt</h2>
                                                <span class="massa">195.0844</span>
                                            </div>
                                            <div class="element elemento-79">

                                                <span class="numero_atomico">79</span>
                                                <h2 class="Ouro">Au</h2>
                                                <span class="massa">196.9666</span>
                                            </div>
                                            <div class="element elemento-80">

                                                <span class="numero_atomico">80</span>
                                                <h2 class="Mercurio">Hg</h2>
                                                <span class="massa">200.5926</span>
                                            </div>
                                            <div class="element elemento-81">

                                                <span class="numero_atomico">81</span>
                                                <h2 class="Titaneo">Tl</h2>
                                                <span class="massa">204.3835</span>
                                            </div>
                                            <div class="element elemento-82">

                                                <span class="numero_atomico">82</span>
                                                <h2 class="Chumbo">Pb</h2>
                                                <span class="massa">207.2169</span>
                                            </div>
                                            <div class="element elemento-83">

                                                <span class="numero_atomico">83</span>
                                                <h2 class="Bismuto">Bi</h2>
                                                <span class="massa">208.9804</span>
                                            </div>
                                            <div class="element elemento-84">

                                                <span class="numero_atomico">84</span>
                                                <h2 class="Polonio">Po</h2>
                                                <span class="massa">208.9620</span>
                                            </div>

                                            <div class="element elemento-85">

                                                <span class="numero_atomico">85</span>
                                                <h2 class="Astato">At</h2>
                                                <span class="massa">209.6021</span>
                                            </div>

                                            <div class="element elemento-86">

                                                <span class="numero_atomico">86</span>
                                                <h2 class="Hidrogenio">Rn</h2>
                                                <span class="massa">220.1901</span>
                                            </div>

                                        </div>				<!-- Adicione mais elementos aqui -->
                                        <div class="periodic-table">
                                            <div class="element elemento-87">

                                                <span class="numero_atomico">87</span>
                                                <h2 class="Francio">Fr</h2>
                                                <span class="massa">223.0197</span>
                                            </div>

                                            <div class="element elemento-88"> 

                                                <span class="numero_atomico">88</span>
                                                <h2 class="Radio">Ra</h2>  
                                                <span class="massa">226.0325</span>
                                            </div>
                                            <div class="element  elemento-89-103">
                                                <span class="numero_atomico">.....89-103</span>
                                                <strong>Ac-Lr</strong>
                                                
                                            </div>
                                            <div class="element elemento-104">

                                                <span class="numero_atomico">104</span>
                                                <h2 class="Rutherfordio">Rf</h2>
                                                <span class="massa">266.3234</span>
                                            </div>
                                            <div class="element elemento-105">

                                                <span class="numero_atomico">105</span>
                                                <h2 class="Dubnio">Db</h2>
                                                <span class="massa">268.1428</span>
                                            </div>
                                            <div class="element elemento-106">

                                                <span class="numero_atomico">106</span>
                                                <h2 class="Seaborgio">Sg</h2>
                                                <span class="massa">270.4869</span>
                                            </div>

                                            <div class="element elemento-107">

                                                <span class="numero_atomico">107</span>
                                                <h2 class="Bohrio">Bh</h2>
                                                <span class="massa">270.9292</span>
                                            </div>

                                            <div class="element elemento-108">

                                                <span class="numero_atomico">108</span>
                                                <h2 class="Hassio">Hs</h2>
                                                <span class="massa">275.3816</span>
                                            </div>

                                            <div class="element elemento-109">

                                                <span class="numero_atomico">109</span>
                                                <h2 class="Meitnerio">Mt</h2>
                                                <span class="massa">278.1309</span>
                                            </div>

                                            <div class="element elemento-110">

                                                <span class="numero_atomico">110</span>
                                                <h2 class="Hidrogenio">Ds</h2>
                                                <span class="massa">282.5755</span>
                                            </div>

                                            <div class="element elemento-111">

                                                <span class="numero_atomico">111</span>
                                                <h2 class="Roentgenio">Rg</h2>
                                                <span class="massa">283.0855</span>
                                            </div>

                                            <div class="element elemento-112">

                                                <span class="numero_atomico">112</span>
                                                <h2 class="Copernicio">Cn</h2>
                                                <span class="massa">286.0936</span>
                                            </div>
                                            <div class="element elemento-113">

                                                <span class="numero_atomico">113</span>
                                                <h2 class="Nihonio">Nh</h2>
                                                <span class="massa">287.9982</span>
                                            </div>
                                            <div class="element elemento-114">

                                                <span class="numero_atomico">114</span>
                                                <h2 class="Flerovio">Fl</h2>
                                                <span class="massa">290.2171</span>
                                            </div>
                                            <div class="element elemento-115">

                                                <span class="numero_atomico">115</span>
                                                <h2 class="Moscovio">Mc</h2>
                                                <span class="massa">291.5420</span>
                                            </div>
                                            <div class="element elemento-116">

                                                <span class="numero_atomico">116</span>
                                                <h2 class="Livermorio">Lv</h2>
                                                <span class="massa">292.4708</span>
                                            </div>
                                            <div class="element elemento-117">

                                                <span class="numero_atomico">117</span>
                                                <h2 class="Tenesso">Ts</h2>
                                                <span class="massa">293.7333</span>
                                            </div>

                                            <div class="element elemento-118">
                                                <span class="numero_atomico">118</span>
                                                <h2 class="Hidrogenio">Og</h2>
                                                <span class="massa">295.2122</span>
                                            </div>
                                        </div>


                                           <div class="periodic-table">

                                                <div class="element">
                                                </div>
                                                <div class="element">
                                                </div>
                                                <div class="element">
                                                </div>

                                                <div class="element elemento-57">

                                                    <span class="numero_atomico">57</span>
                                                    <h2 class="Hidrogenio">La</h2>
                                                    <span class="massa">138.9055</span>
                                                </div>

                                                <div class="element elemento-58">  

                                                    <span class="numero_atomico">58</span>
                                                    <h2 class="Hidrogenio">Ce</h2>
                                                    <span class="massa">140.1157</span>
                                                </div>
                                                <div class="element elemento-59">

                                                    <span class="numero_atomico">59</span>
                                                    <h2 class="Hidrogenio">Pr</h2>
                                                    <span class="massa">140.9077</span>
                                                </div>
                                                <div class="element elemento-60">  

                                                    <span class="numero_atomico">60</span>
                                                    <h2 class="Hidrogenio">Nd</h2>
                                                    <span class="massa">144.2416</span>
                                                </div>
                                                <div class="element elemento-61">

                                                    <span class="numero_atomico">61</span>
                                                    <h2 class="Hidrogenio">Pm</h2>
                                                    <span class="massa">145.2295</span>
                                                </div>
                                                <div class="element elemento-62">

                                                    <span class="numero_atomico">62</span>
                                                    <h2 class="Hidrogenio">	Sm</h2>
                                                    <span class="massa">150.3647</span>
                                                </div>
                                                <div class="element elemento-63">

                                                    <span class="numero_atomico">63</span>
                                                    <h2 class="Hidrogenio">Eu</h2>
                                                    <span class="massa">151.9644</span>
                                                </div>
                                                <div class="element elemento-64">

                                                    <span class="numero_atomico">64</span>
                                                    <h2 class="Hidrogenio">Gd</h2>
                                                    <span class="massa">157.2521</span>
                                                </div>
                                                <div class="element elemento-65">

                                                    <span class="numero_atomico">65</span>
                                                    <h2 class="Hidrogenio">Tb</h2>
                                                    <span class="massa">158.9254</span>
                                                </div>
                                                <div class="element  elemento-66">

                                                    <span class="numero_atomico">66</span>
                                                    <h2 class="Hidrogenio">Dy</h2>
                                                    <span class="massa">162.4995</span>
                                                </div>
                                                <div class="element elemento-67">

                                                    <span class="numero_atomico">67</span>
                                                    <h2 class="Hidrogenio">Ho</h2>
                                                    <span class="massa">164.9303</span>
                                                </div>
                                                <div class="element elemento-68">

                                                    <span class="numero_atomico">68</span>
                                                    <h2 class="Hidrogenio">Er</h2>
                                                    <span class="massa">167.2591</span>
                                                </div>
                                                <div class="element elemento-69">

                                                    <span class="numero_atomico">69</span>
                                                    <h2 class="Hidrogenio">Tm</h2>
                                                    <span class="massa">168.9342</span>
                                                </div>
                                                <div class="element elemento-70">

                                                    <span class="numero_atomico">70</span>
                                                    <h2 class="Hidrogenio">Yb</h2>
                                                    <span class="massa">173.0541</span>

                                                </div>
                                                <div class="element elemento-71">

                                                    <span class="numero_atomico">71</span>
                                                    <h2 class="Hidrogenio">Lu</h2>
                                                    <span class="massa">174.9668</span>
                                                </div>

                                                <!-- Adicione mais elementos aqui -->
                                            </div>

                                            <div class="periodic-table">

                                                <div class="element">

                                                </div>

                                                <div class="element">  

                                                </div>

                                                <div class="element">

                                                </div>

                                                <div class="element elemento-89">

                                                    <span class="numero_atomico">89</span>
                                                    <h2 class="Hidrogenio">Ac</h2>
                                                    <span class="massa">227.0251</span>

                                                </div>
                                                <div class="element elemento-90">

                                                    <span class="numero_atomico">90</span>
                                                    <h2 class="Hidrogenio">Th</h2>
                                                    <span class="massa">232.0380</span>
                                                </div>
                                                <div class="element elemento-91">

                                                    <span class="numero_atomico">91</span>
                                                    <h2 class="Hidrogenio">Pa</h2>
                                                    <span class="massa">231.0359</span>
                                                </div>
                                                <div class="element elemento-92">

                                                    <span class="numero_atomico"> 92</span>
                                                    <h2 class="Hidrogenio">U </h2>
                                                    <span class="massa">238.0289</span>
                                                </div>
                                                <div class="element elemento-93">

                                                    <span class="numero_atomico"> 93</span>
                                                    <h2 class="Hidrogenio">Np </h2>
                                                    <span class="massa">236.9815</span>
                                                </div>
                                                <div class="element elemento-94">

                                                    <span class="numero_atomico">94</span>
                                                    <h2 class="Hidrogenio">Pu</h2>
                                                    <span class="massa">244.0532</span>
                                                </div>
                                                <div class="element elemento-95">

                                                    <span class="numero_atomico">95</span>
                                                    <h2 class="Hidrogenio">Am</h2>
                                                    <span class="massa">242.9341</span>
                                                </div>
                                                <div class="element elemento-96">

                                                    <span class="numero_atomico">96</span>
                                                    <h2 class="Hidrogenio">Cm</h2>
                                                    <span class="massa">247.0924</span>

                                                </div>
                                                <div class="element elemento-97">

                                                    <span class="numero_atomico">97</span>
                                                    <h2 class="Hidrogenio">Bk</h2>
                                                    <span class="massa">247.0781</span>
                                                </div>
                                                <div class="element elemento-98">

                                                    <span class="numero_atomico">98</span>
                                                    <h2 class="Hidrogenio">Cf</h2>
                                                    <span class="massa">250.5137</span>
                                                </div>
                                                <div class="element elemento-99">

                                                    <span class="numero_atomico">99</span>
                                                    <h2 class="Hidrogenio">Es</h2>
                                                    <span class="massa">252.9784</span>
                                                </div>
                                                <div class="element elemento-100">

                                                    <span class="numero_atomico">100</span>
                                                    <h2 class="Hidrogenio">Fm</h2>
                                                    <span class="massa">256.8966</span>
                                                </div>
                                                <div class="element elemento-101">

                                                    <span class="numero_atomico">101</span>
                                                    <h2 class="Hidrogenio"> Md</h2>
                                                    <span class="massa">258.7885</span>
                                                </div>

                                                <div class="element elemento-102">

                                                    <span class="numero_atomico">102</span>
                                                    <h2 class="Hidrogenio">No</h2>
                                                    <span class="massa">260.6703</span>
                                                </div>

                                                <div class="element elemento-103">
                                                    <span class="numero_atomico">103</span>
                                                    <h2 class="Hidrogenio">Lr</h2>
                                                    <span class="massa">264.8620</span>
                                                </div>
                                                <!-- Adicione mais elementos aqui -->
                                            </div>
                                        </section>
                                    </section>
                                </div>     
                        </section>
                        </div>
                    </div>
                    </div>
                         </div>
                </div>
        </section> 
      
   <div class="container">
       
        <div class="box">
            <h2>Breve História</h2>
            <div class="box">
                <p>A primeira tabela periódica foi publicada em 1869. Por Dmitri Mendeleev que foi a versão reconhecida até hoje.</p>
                <p> A tabela periódica que vemos em livros didáticos, hoje é uma versão refinada com sínteses de novos elementos.
            </div>


             
             
        </div>
        
        
        <div class="box">
            <h2>Como funciona a simulação ?</h2>
            <div class="box">
                <p>Para inicar clique em "Run".</p>
                <p>Será aberta uma caixa de dialogo, onde é possivel digitar "H2" e depois "O", "Na" e depois "Cl", "C" 
                    e depois "O2". 
                </p>
                <p> A cada elemento digitado e necessário confirmar clicando em "OK".</p>
            </div>
            
            </div>
        
        <div class="box">
            <h2>Veja também!!!</h2>
            <div class="box">
                <p> Balancemento onde pode digitar elementos que queira balancear, para isso vá em balanceamento no top da página.</p>

            </div>
            
        </div>
            
            
        
    </div>
    <div class= "iframe">
            <iframe src="https://foobarcelta.trinket.io/sites/quaseprontoparafim"></iframe>
    </div>
    <div class="box-footer">
        <p>&copy; 2023 -Todos os direitos reservados</p>
       
        </div>
   
</section>


</body>
</html>





